.loader-wrap {
    width: 100%;
    background-color: var(--black);
    flex-grow: 1;
}

.lazy-wrap {
    display: block;
    animation: fade-in var(--view-transition-duration);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
